@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* GLOBAL */
@font-face {
    font-family: "Pacifico";
    src: url("../fonts/Pacifico.ttf");
}

html {
    font-size: 62.5%;
}

body {
    margin: 0 auto;
    font-size: 1.6rem;
    background-color: white;
    color: #444444;
    font-family: 'Roboto', sans-serif;
}

.clear {
    overflow: auto;
}

/* HEADER */
header{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 2% 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

header nav a {
    text-decoration : none;
    color : #072b5a;
}



/* MAIN */

main{
	max-width: 1500px;
	margin: 0 auto;
}

#menu {
    display: none;
}

img {
	max-width: 100%;
	height: auto;
}


h1, .last-section h2 {
    font-family: "Pacifico";
    color: #072b5a;
}

footer h3 {
    font-family: "Pacifico";
}

.last-section p {
    text-align: center;
}

span {
    color:#fa7a01;
}


.article {
    padding: 15% 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items : center;   
    background-image: url("../images/maldives.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.article h2 {
    text-align: center;
    font-size: 4em;
    color: white;
    text-shadow: 4px 1px 8px rgba(0, 0, 0, 1);
   width: 90%;
    margin: 0 auto 2%;
    
}

.first-section{
    display: flex;
    justify-content: space-around;
    padding: 5% 0;
}

.first-section article {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1% 0;
    border-radius: 10%;
}

.first-section article h3{
    margin-bottom: 0;
}

.first-section article p {
    text-align: center;
}

.middle-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #efefef;
    padding: 5% 0;
}

div {
    background-color: white;
    padding: 10px 0;
    font-size: 0.9em;
}

.right {
    display: flex;
    width: 40%;
    height: auto;
    justify-content: space-around;
    border-radius: 10%;
    margin: 0 2%;
    box-shadow: 5px 5px 5px grey;
    text-align: center;    
    border-top-left-radius: 10%;   
    border-bottom-left-radius: 10%;
    overflow: hidden;
}

.last-section{
    width: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1% 0;
}

.last-section .contact-form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.last-section .contact-form div {
    margin: 0 10px;
}

.last-section .contact-form div label {
    margin-right: 5px;
}
.cta {
    background-color : #072b5a;
    color: white;
    text-decoration: none;
    padding: 0.2% 0.5%;
	border: 2px solid #072b5a;
	border-radius: 0.2em;
	cursor: pointer;
}

#savoir {
    padding: 1% 2%;
}

#button {
    background-color : #072b5a;
    color: white;
    border: 2px solid #072b5a;
	border-radius: 0.2em;
	cursor: pointer;
}


.img {
    width: 50%;
    border-top-right-radius: 10%;   
    border-bottom-right-radius: 10%;
}


/* FOOTER */
footer{
    padding: 1% 0;
    text-align: center;
    background-color: #072b5a; 
    color: white;
} 

@media screen and (max-width: 768px) {    

    #menu {
        cursor: pointer;
        font-size: 3.5rem;
        padding: 1rem 1.5rem;
        text-align: center;
        line-height: 1.5;
        border-radius: 50%;
        display: block;
    }

    
    header nav {
        display: none;
        width: 100%;
        position: absolute;
        top: 100px;
        right: 2rem;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 1.5rem;
        background-color: #fff;
    }

    header nav a {
        display: inline-block;
        margin: 5px 10px;
        padding: 10px 0;
        font-size: 2rem;
        font-weight: 600;
    }
    nav.toggle {
        display: flex;
    }

    .first-section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .first-section article {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
    }
    
    .middle-section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .middle-section  article {
        width: 70%;
        margin: 20px 0;
    }
    
    .last-section .contact-form {
        flex-direction: column;
    }

    .last-section .contact-form div {
        margin: 10px 0;
        padding: 2px 5px;
    }
}